@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.container-create-product{
    margin: 3% 0%;
}

.left-create-product{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.kamera{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 235, 235);
    margin: 5% 0;
    
}

.kamera-img{
    width: 100px;
    height: auto;
}

.take-picture-button{
    width: 300px;
    height: 80px;
    background-color: #0B132A;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.choose-from-gallery-button{
    width: 300px;
    height: 80px;
    background-color: #FFBA33;
    color: #6A4029;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.save-create-product-button{
    width: 300px;
    height: 80px;
    background-color: #6A4029;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.cancel-create-product-button{
    width: 300px;
    height: 80px;
    background-color: #BABABA59;
    color: #4F5665;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.right-create-product{
    margin-top: 10%;
}
.form-create-product{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.form-label-title{
    font-size: 20px;
    font-weight: bold;
    color: #6A4029;
}

.title-delivery{
    font-size: 20px;
    font-weight: bold;
    color: #6A4029;
}

.create-product-input{
    margin: 2% 0;
    width: 500px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #6A4029;
}
.size-title-cpd{
    font-size: 20px;
    font-weight: bold;
    color: #6A4029;
    display: flex;
    /* justify-content: center; */
}

.size-button-cpd {
    display: flex;
    /* justify-content: space-evenly; */
}

.size-label-cpd {
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    background: #F4F4F8;
    border-radius: 50%;
    border: 1px solid #BABABA59;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #050505;

}

.size-input-cpd {
    position: absolute;
}

.size-checkmark-cpd {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    background: #F4F4F8;
    border-radius: 50%;
    border: 1px solid #BABABA59;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #3b3b3b59;
    cursor: pointer;

}

.size-label-cpd:hover input~.size-checkmark-cpd {
    background: #FFBA33;
    box-shadow: 0px 6px 20px rgba(240, 218, 75, 0.4);
    color: #FFFFFF;
    font-weight: 700;
}

.size-label-cpd input:checked~.size-checkmark-cpd {
    background: #FFBA33;
    box-shadow: 0px 6px 20px rgba(240, 218, 75, 0.4);
    color: #FFFFFF;
    font-weight: 700;
}

.category-container-cpd {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* padding: 50px; */
}

.category-button-cpd {
    display: flex;
}

.category-label-cpd {
    width: 120px;
    height: 40px;
    margin: 20px 10px;
    background: #6A4029;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.category-label-cpd {
    width: 120px;
    height: 40px;
    margin: 20px 10px;
    background: #F4F4F8;
    border-radius: 10px;
    border: 1px solid #BABABA59;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;

}

.category-input-cpd {
    position: absolute;
}

.category-checkmark-cpd {
    position: absolute;
    width: 130px;
    height: 40px;
    margin: 20px 10px;
    background: #F4F4F8;
    border-radius: 10px;
    border: 1px solid #BABABA59;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
    cursor: pointer;

}

.category-label-cpd:hover input~.category-checkmark-cpd {
    background: #6A4029;
    box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
    color: #FFFFFF;
    font-weight: 700;
}

.category-label-cpd input:checked~.category-checkmark-cpd {
    background: #6A4029;
    box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
    color: #FFFFFF;
    font-weight: 700;
}
@media(max-width: 1024px){
    .create-product-input{
        margin: 2% 0;
        width: 90%;
        height: 50px;
        border: none;
        border-bottom: 1px solid #6A4029;
    }
}

@media(max-width: 425px){
    .create-product-input{
        margin: 2% 0;
        width: 98%;
        height: 50px;
        border: none;
        border-bottom: 1px solid #6A4029;
    }
}