@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

.main-content-one{
    height: 450px;
    background-image: url(../../assets/img/background-1.png);
    background-size: cover;
    background-position: 0px -980px;
    text-align: start;
    padding: 0 20%;
}

.top-content-custom{
    color: white;
    margin-top: 70px;
}

.top-content-custom h1{
    font-weight: bold;
}

.button-get{
    width: 200px;
    text-align: center;
    padding-top: 15px;
    height: 50px;
    text-decoration: none;
    color: #6A4029;
    font-weight: bold;
    font-size: 15px;
    background-color: #FFBA33;
    border-radius: 5px;
}

.top-content-search{
    width: 250px;
    height: auto;
    background-color: #EFEEEE;
    border-radius: 20px;
    text-align: start;
    margin-left: 30%;
    margin-top: 20px;
    padding: 10px;
}
.top-content-search a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
}

.top-content-search img{
    width: 30px;
    height: 20px;
}

.main-content-two{
    margin: -5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

.card-content-two{
    width: 100%;
    height: 150px;
}

.card-body-content-two{
    margin: 4% 4%;
    padding: 0 50px;
}

.custom-store-info-text{
    border-right:1px solid #4F5665;   
}

.home-main-content-three{
    margin: 0 10px;
    text-align: start;
    margin: 0 20%;
}

.row-content-three img{
    width: 500px;
    height: auto;
    object-fit: cover;
    object-position: 0 0;
}

.home-right-custom{
    margin: 50px 0;
}

.home-right-custom img{
    width: 30px;
    height: 30px; 
}

.card-img-hazelnut{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0 -40px;
    border-radius: 50%;
    margin: 20px 0;
}

.card-img-pingky{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
    margin: 20px 0;
}

.card-img-chicken{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
    margin: 20px 0;
}

.text-start{
    height: 400px;
}

.order-now{
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid #FFBA33 ;
    border-radius: 20px;
}

.order-now:hover{
    background-color: #FFBA33;
    color: #EFEEEE;
}

.select{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #FFBA33;
    color: #EFEEEE;
    font-weight: bold;
    border: 2px solid #FFBA33 ;
    border-radius: 20px;
}

.select:hover{
    background-color: #EFEEEE;
    color: #FFBA33;
}

.map{
    width: 80%;
    height: auto;
    margin: 0 10%;
}

.partner-img img{
    width: 200px;
    height: auto;
    filter: grayscale(1) opacity(20%);
}

.custom-review {
    padding-left: 150px;
    margin-bottom: 10px;
}

.custom-review-card-selected {
    width: 300px;
    min-height: 250px;
    padding: 30px;
    margin: 50px 25px;
    background: #FFFFFF;
    border: 2px solid #6A4029;
    border-radius: 10px;
}

.custom-review-card {
    width: 300px;
    min-height: 250px;
    padding: 30px;
    margin: 50px 25px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.custom-review-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.custom-review-name {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #0B132A;
}

.custom-review-from {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
}

.custom-review-rating {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B132A;
}

.custom-review-testimony {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.left{
    margin-top: -30px;
}

.see-promo-container{
    width: 100%;
}

.custom-promo-today{
    margin: 50px 0;
}

.button-promo{
    margin: 50px 0;
}


@media(max-width:768px) {
    .main-content-one{
        height: 500px;
    }
    .main-content-two{
        margin: -5%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1%;
    }
    
    .card-content-two{
        width: 100%;
        height: auto;
    }
    
    .card-body-content-two{
        margin: 4% 0%;
        padding: 0 5%;
    }
    
    .top-content-search{
        margin-left: 0%;
    }
    .custom-store-info-text{
        border-right:none;   
    }
    .home-main-content-three{
        margin: 0 70px;
    }
    .row-content-three img{
        margin-left: 100px;
    }
    .card-content-two {
        width: 100%;
    }
    .home-right-custom img{
        width: 30px;
        height: 30px; 
    }
    .card-custom-four {
        margin-left: 100px;
        border-radius: 10px;
    }
    .custom-review {
        margin-bottom: 10px;
        margin-left: -200px;
    }
    .custom-review-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .custom-review-card-selected {
        width: 100%;
    }
    .custom-review-card {
        width: 100%;
    }
    .left{
        margin-left: 450px;
    }
    .button-promo{
        margin-top: -50px;
    }
    .main-bottom {
        height: 700px;
        background-color: #F8F8F8;
    }
    
}

@media(max-width:428px) {
    .main-content-one{
        height: 650px;
    }
    .card-content-two{
        width: 100%;
        height: auto;
        margin-left: -5px;
    }
    .card-body-content-two{
        margin-left: 120px;
    }
    .home-main-content-three{
        margin: 0 20px;
    }
    .row-content-three img{
        width: 300px;
        height: auto;
        margin-left: 40px;
    }
    .card-custom-four{
        margin-left: 15%;
    }
    .home-right-custom img{
        width: 30px;
        height: 30px; 
        margin-left: -10px;
    }
    .right-custom{
        text-align: start;
    }
    .right-custom p{
        text-align: justify;
    }
    .right-custom img{
        width: 30px;
        height: 30px;
        margin-left: -10px;
    }
    .card-custom {
        margin-left: 50px;
    }
    .card-see-promo{
        padding: 0 0;
        margin: 50px 0;
    }
    .card-see-promo{
        width: 350px;
        height: 400px;
    }
    .left{
        margin-left: 110px;
    }
    .main-bottom {
        height: 900px;
        
    }
}