
.footer-bottom {
    height: 500px;
    background-color: #F8F8F8;
}

.left-content p {
    color:#4F5665;
}

.left-content img {
    width: 30px;
    height: 33px;
}

.sosmed img {
    background-color: #6A4029;
    border-radius: 100%;
    width: 30px;
    height: auto;
    margin-right: 8px;
}

.copyright {
    color: #AFB5C0;
}

.home-product-footer,
.home-engage-footer {
    margin: 20px;
}

.home-product-footer a,
.home-engage-footer a {
    display: block;
    text-decoration: none;
    color: black;
    font: 18px;
    margin-top: 15px;
}

.home-product-footer a:hover,
.home-engage-footer a:hover {
    color: rgb(114, 112, 112);
}