@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.container-create-product{
    margin: 3% 10%;
}

.kamera-promo{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 235, 235);
    margin: 5% 0;
    
}

.kamera-img{
    width: 100px;
    height: auto;
}

.take-picture-button-promo{
    width: 350px;
    height: 80px;
    background-color: #0B132A;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.choose-from-gallery-button-promo{
    width: 350px;
    height: 80px;
    background-color: #FFBA33;
    color: #6A4029;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.create-promo-input{
    width: 350px;
    height: 70px;
    border-radius: 20px;
    border: 1px solid #9F9F9F;
    margin: 5% 0;
}

.save-create-promo-button{
    width: 500px;
    height: 80px;
    background-color: #6A4029;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.cancel-create-promo-button{
    width: 500px;
    height: 80px;
    background-color: #BABABA59;
    color: #4F5665;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin: 2% 0;
}

.right-create-product{
    margin-top: 10%;
}
.form-create-product{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.form-label-title{
    font-size: 25px;
    font-weight: bold;
    color: #6A4029;
}

.title-delivery{
    font-size: 25px;
    font-weight: bold;
    color: #6A4029;
}

.create-product-input{
    margin: 2% 0;
    width: 500px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #6A4029;
}

.cpromo-size-title{
    font-size: 25px;
    display: flex;
    /* justify-content: center; */
}

.cpromo-size-button {
    display: flex;
    /* justify-content: space-evenly; */
}

.cpromo-size-label {
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    background: #F4F4F8;
    border-radius: 50%;
    border: 1px solid #BABABA59;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #050505;

}

.cpromo-size-input {
    position: absolute;
}

.cpromo-size-checkmark {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    background: #F4F4F8;
    border-radius: 50%;
    border: 1px solid #BABABA59;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #050505;
    cursor: pointer;

}

.cpromo-size-label:hover input~.cpromo-size-checkmark {
    background: #FFBA33;
    box-shadow: 0px 6px 20px rgba(240, 218, 75, 0.4);
    color: #FFFFFF;
    font-weight: 700;
}

.cpromo-size-label input:checked~.cpromo-size-checkmark {
    background: #FFBA33;
    box-shadow: 0px 6px 20px rgba(240, 218, 75, 0.4);
    color: #FFFFFF;
    font-weight: 700;
}

@media(max-width: 1024px){
    .create-product-input{
        margin: 2% 0;
        width: 90%;
        height: 50px;
        border: none;
        border-bottom: 1px solid #6A4029;
    }
    .save-create-promo-button{
        width: 100%;
        height: 100%;
        background-color: #6A4029;
        color: white;
        font-size: 25px;
        border-radius: 20px;
        font-weight: bold;
        border: none;
        margin: 2% 0;
    }
    
    .cancel-create-promo-button{
        width: 100%;
        height: 100%;
        background-color: #BABABA59;
        color: #4F5665;
        font-size: 25px;
        border-radius: 20px;
        font-weight: bold;
        border: none;
        margin: 2% 0;
    }
}

@media(max-width: 425px){
    .create-product-input{
        width: 98%;
    }
    
}